* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: "Source Code Pro", sans-serif;

}

input, button {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}
label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input {
    border: 2px solid purple;
    border-radius: 10px;
    background-color: honeydew;
    color: purple;
    padding: 5px;
    margin-top: 5px;
}

button {
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

button:hover {
    background-color: cyan;
}

#contactForm {
    border: 3px solid purple;
    border-radius: 15px;
    background-color: #cacaca;
    padding: 10px;
    max-width: 750px;
}

.error {
    border: 3px solid red;
    background-color: honeydew;
    color: red;
    border-radius: 10px;
    padding: 7px;
}